*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--primary-font);
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {

    font-weight: 500;

}

body {
    height: 100vh;
}

img {
    width: 22px;
    
    transition: all ease 0.2s;
}

img:hover {
    scale: 1.2;
    cursor: pointer;
}

