.main__sidebar-project {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.2s ease;

}

.main__sidebar-project:hover {

    background-color: rgb(49, 49, 49);
    cursor: pointer;

}

.main__sidebar-project:active {

    background-color: rgb(24, 24, 24);

}