.main__sidebar-project-manager {
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    height: 100%;

    border-radius: 16px;

    box-shadow: var(--shadow-s);
    backdrop-filter: blur(20px);

    transition: all ease-in-out 0.2s;

}

.main__sidebar-project-manager:hover {
    box-shadow: var(--shadow-m);
}

.main__sidebar-project-manager-header {
    border-bottom: 1px solid #ffffff33;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}