.main__sidebar {

    min-width: max-content;
    width: 300px;
    margin: 10px;
    margin-right: 0;
    overflow: visible;

    background-image: linear-gradient(0deg,  var(--primary-color) 95%, var(--lighter-primary-color));
    border-radius: 16px;

    z-index: 1;
}

.main__sidebar * {

    color: var(--text-light);

}

.main__sidebar p {

    color: var(--text-muted-light);

}