.main__content-task-manager {

    display: flex;
    flex-flow: column wrap;

}

.main__content-task-manager-header, .task-list {

    padding: 10px 20px;
    margin: 10px;

    background-color: var(--bg);
    background: var(--gradient);
    border: var(--border);
    box-shadow: var(--shadow-s);

    border-radius: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;


    transition: all ease 0.2s;

}

.main__content-task-manager-header:hover, .task-list:hover {

    box-shadow: var(--shadow-m);

}

.task-list {

}
