.main__content-task-manager {

    display: flex;
    flex-flow: column wrap;

}

.main__content-task-manager-header {

    display: flex;
    justify-content: space-between;
    align-items: center;

}