:root {
    /* bg colors*/
    --bg-dark: oklch(0.92 0 0);
    --bg: oklch(0.96 0 0);
    --bg-light: oklch(1 0 0);
    /* text colors*/
    --text: oklch(0.1 0 0);
    --text-light: oklch(0.95 0 0);
    --text-muted: oklch(0.2 0 0);
    --text-muted-light: oklch(0.8 0 0);
    /* border & gradient colors */
    --border: 1px solid var(--bg);
    --highlight: oklch(0.8 0 0);
    --gradient: linear-gradient(0deg, var(--bg) 80%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    /* shadows */
    --shadow-s: inset 0 1px 2px oklch(1 0 0 / 0.3), 0 1px 2px oklch(0 0 0 / 0.3), 0 2px 4px oklch(0 0 0 / 0.15);
    --shadow-m: inset 0 1px 2px oklch(1 0 0 / 0.3), 0 2px 4px oklch(0 0 0 / 0.3), 0 4px 8px oklch(0 0 0 / 0.15);
    --shadow-l: inset 0 1px 2px oklch(1 0 0 / 0.3), 0 4px 6px oklch(0 0 0 / 0.3), 0 6px 10px oklch(0 0 0 / 0.15);

    --primary-color: #2e1f27;
    --lighter-primary-color: hsl(328, 19%, 25%);
    --heavier-primary-color: hsl(328, 19%, 10%);
    --primary-font: "Alan Sans", Arial;
}
